
.logo-center {
    margin-top: 10px;
    padding-left: 45%;

  }   


h5 {
    padding-top: 45px;
}

/*
.item-interactive.ion-valid{
    --highlight-background: #e0d642;
    //dimensione troppo grande
}*/

ion-icon {
    color:rgb(113,90,235); 
    }
    
