<ion-header>
  <ion-toolbar>
    <ion-title> {{titolo}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div>
  <ion-grid class="set-grid">
    <ion-row class="logo-center">
      <ion-col class = "col-center">
        <img src="/assets/icon/logo_devskill@2x.png">
      </ion-col>
    </ion-row>
   

    <ion-row class="ben_row">
      <ion-col class="col_center">
        <h4 id="titolo">Benvenuti!</h4>
      </ion-col>
    </ion-row>

  <form>
    <ion-row class="item">
      <ion-col>
      <ion-item >
        <ion-label for="user" position="floating">Inserisci username</ion-label>
        <ion-input placeholder="username" id="user" name="username"></ion-input>
        <ion-icon name="mail" slot="end"></ion-icon>
      </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row class="item">
      <ion-col>
      <ion-item >
        <ion-label for="pass" position="floating">Inserisci password</ion-label>
        <ion-input placeholder="password" type="password" id="pass" name="pass"></ion-input>
        <ion-icon name="lock-closed" slot="end"></ion-icon>
      </ion-item>
      </ion-col>
    </ion-row>

  <div class="col_right">
    <ion-row>
      <ion-col>
        <ion-button color="tertiary"> LOGIN</ion-button>
      </ion-col>
    </ion-row>
  </div>
  </form>  
  </ion-grid>

  

</div>
</ion-content>
