.set-grid {
    max-width: 320px;
  }

.logo-center {
  margin-top: 120px;
  padding-left: 60px;
}
.ben_row {
  margin-bottom: 45px;
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
}
#titolo {
  font-family: "my-font";
  font-size: 20px;
  src: url('/assets/icon/fonts.woff');
}

.item-interactive.ion-valid{
  --highlight-background: #e0d642;
}


ion-item {
  font-family: "my-font2";
  font-weight: normal;
  font-size: 15px;
  src: url('/assets/icon/fonts2.woff2');
}

ion-button {
  border-style: initial;
  align-items:flex-end;
  padding-left: 220px;
}

ion-icon {
  color:rgb(113,90,235); 
  }